@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./font-imports.css');
@import url('./index.css');
@import url('./navbar.css');
@import url('./demo.css');

body {
  @apply
    bg-color-2
  ;
}


.shadow-type-1 {
  box-shadow: inset 7px 7px 5px #30303055;
}

.shadow-type-2 {
  box-shadow: 7px 7px 5px #30303055;
}



input {
  background-color: transparent;
  font-family: 'montserrat';
}

input:focus {
  outline: none;
  border-color: 'orange';
}